body{
    background-color: #ffff;
    display: grid;
    justify-content: center;
    position: absolute;
}
.section{
    font-family: 'Heebo';
    background: #ffff;
    height: auto;
    width: 1152px;
    border-radius: 0px;
}
.navigation{
    display: flex;
    justify-content: flex-end;
    padding-top: 21px;
    margin-right: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
}
.descr1{
    margin-right: 22px;

}
.descr2{
    margin-left: 22px;
}
.deskr3{
    display: inline-table;
}
.head_descr{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-top: 158px;
    margin-left: 148px;
    margin-bottom: 40px;
}
.main_descr{
    margin-left: 148px;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.buton{
    border-radius:18px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: white;    
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
    margin-left: 148px;
}
.face{
    position: relative;
    margin-top: 140px;
    margin-left: 115px;
}
.main_content{
    background: #EDF7FA;
    margin-top: 72px;
    padding-bottom: 24px;
}
.head_content{
    display:flex;
    justify-content: space-between;
    margin-left: 148px;
    padding-left: 0px;
    margin-right: 148px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}
.view_link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}
.content_block{
    display: flex;
    margin-right: 148px;
    margin-left: 148px;
}
.block_1{
    margin-top: 18px;
    padding: 23px;
    background-color: #ffff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    margin-right: 10px;
}
.block_2{
    margin-top: 18px;
    margin-left: 10px;
    padding: 23px;
    background-color: #ffff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}
.making{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
}
.column{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.block_descr_1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.featured_works{
    padding-left: 148px;
    padding-right: 148px;
}
.text{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}
.works{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner_1{
    border-radius: 6px;
}
.work_1{
    display: flex;
    margin-bottom: 24px;
}
.abcd{
    margin-left: 18px;
}
.date{
    display: flex;
    margin-bottom: 22px; 
    flex-wrap: wrap;
    align-items: center;  
}
.date_of_work{
    color: #ffff;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}
.date_block{
    display: flex;
    border-radius: 16px;
    background: #142850;
    width: 62px;
    height: 25px;align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.name_work1{
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}
.work_descr{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.horiz_rule{
    border: 1px solid #E0E0E0;
    width: 858px;
    margin-bottom: 34px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}
.footer>p{
    margin-bottom: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.social_media{
    margin-top: 32px;
    margin-bottom: 26px;
}
.fb_icon{
    margin-right: 35px;
}
.inst_icon{
    margin-right: 35px;
}
.twitter_icon{
    margin-right: 35px;
}
